@font-face {
    font-family:"lato-black" ;
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: "lato-bold";
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "lato-light";
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family:"lato-regular" ;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family:"lato-thin" ;
    src: url(../fonts/Lato-Thin.ttf);
}

@font-face {
    font-family:"lobster-two-bold" ;
    src: url(../fonts/LobsterTwo-Bold.ttf);
}

@font-face {
    font-family:"lobster-two-regular" ;
    src: url(../fonts/LobsterTwo-Regular.ttf);
}