.fundo {
   display: flex;
   flex-direction: column;
   background-color: white;
   max-width: 700px;
   width: 100%;
   height: auto;
   min-height: 610px;
   border-radius: 15px;
   padding-top: 0px;


   h1 {
      color: #53220D;
      font-size: 3rem;
      margin-top: 90px;
      text-align: center;
   }

   .pp{
      color: black;
      font-size: 2rem;
      margin-top: 10px!important;

      img {
         width: 23px;
         margin-right: 12px;

         animation: loading 1s infinite;
     }
   }

   .cartoesHistorico {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      height: 420px;
      overflow: scroll;
      scrollbar-width: thin;
      scrollbar-color: gray transparent;
      padding: 15px 0px;

      &::-webkit-scrollbar {
         width: 10px;
      }

      &::-webkit-scrollbar-thumb {
         background: gray;
         border-radius: 5px;
      }

      &::-webkit-scrollbar-track {
         background: transparent;
      }
   }
}