.card-historico {
    * {
        margin: 0px;
    }

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    font-family: lato-regular;
    width: 550px;


    background-color: white;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

    padding: 10px;
    border-radius: 10px;

    .card-secao-03 {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        margin: 3px;
        gap: 2px;
        margin-right: 25px;
    }

    .card-secao-03>p {
        color: green;
    }

    .card-secao-03>img {
        width: 15px;
        height: 15px;
    }

    .card-secao-01 {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        border-bottom: 1px solid black;
        margin-bottom: 8px;
        padding: 5px;
    }

    .card-secao-01 h5 {
        color: #1877F2;
        font-family: lato-regular;
        font-size: 15px;
    }

    .card-secao-02 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

    }

    .card-secao-02>h4 {
        margin-right: 10px;

    }

}