.pagina-carrinho {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .container-carrinho {
        display: flex;
        flex-direction: column;
        background-color: #CCCCCC;
        width: 100%;
    }

    .cabecalho-carrinho {
        display: flex;
        background-color: #F7FCFE;
        height: 8%;
        padding-left: 15px;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 22px;
            font-family: lato-regular;
            font-weight: 580;
        }
    }

    .subtitulo-carrinho {
        background-color: #fff;
        font-size: 12px;
        color: #636363;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;  
    
        .left-content {
            cursor: pointer;
            display: flex;
            align-items: center;
            
            img {
                height: 12px;
                margin-right: 5px;
                margin-top: 2px;
            }
    
            p {
                font-family: lato-regular;
                font-weight: 580;
                font-size: 20px;
               
            }
        }
        p {
            font-family: lato-regular;
            font-weight: 580;
            font-size: 15px;
           
        }
    
        h1 {
            font-family: lato-regular;
            font-weight: 580;
        }
    }

    .conteudo-carrinho {
        display: flex;
        flex-direction: row;
        padding: 20px;
        height: 80%;

    }


    .principal-carrinho {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 50%;
        padding: 15px;
        border-radius: 15px;


        h5 {
            display: flex;
            font-family: lato-regular;
            align-self: center;
            font-size: 20px;
            color: #007BFF;
            padding: 10px 0px;
            margin-bottom: 10px;
        }

    }



    .buscar {
        display: flex;
        border: #A59A9A 1px solid;
        width: 50%;
        padding: 5px 10px;
        border-radius: 7px;
        height: 40px;
        align-items: center;
        margin-bottom: 25px;

        img {
            width: 18px;
            height: 18px;
            margin-right: 5px;
        }

        input {
            width: 100%;
            height: 90%;
            outline: none;
            border: none;
        }
    }

    .linha-carrinho {
        border-bottom: 1px solid #c9c9c9;
    }

    .tabela-carrinho {
        overflow: auto;
    }

    .tabela-carrinho::-webkit-scrollbar {
        width: 8px;
        height: 100%;
    }

    .tabela-carrinho::-webkit-scrollbar-thumb {
        background-color: #0D3E53;
        border-radius: 8px;
    }

    .tabela-carrinho {
        display: flex;
        flex-direction: column;


        thead tr {
            display: flex;
            border-bottom: 1px solid #c9c9c9;
            padding: 15px 10px 10px 10px;
            color: #9b9b9b;
        }

        thead tr th {
            display: flex;
            width: 25%;
            justify-content: center;

        }

        tbody tr {
            padding: 15px 10px 10px 10px;
            display: flex;
            border-bottom: 1px solid #c9c9c9;
        }

        tbody tr td {
            display: flex;
            width: 25%;
            justify-content: center;
            align-items: center;
            color: #A59A9A;
        }

        tbody img {
            height: 45px;
            width: 60px;
            border-radius: 70px;
        }

        tbody div {
            height: 20px;
            width: 20px;
            border-radius: 50px;
        }

    }






    .parte-filtros-carrinho {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        margin-top: -20px;
       

       

        select {

            border: #A59A9A 1px solid;
            width: 38%;
            padding: 5px;
            border-radius: 3px;
            color: #636363;
            outline: none;
            

            optgroup {
                

                label {
                    
                    font-weight: bold;
                }

                option {
                    color: #636363;
                    
                }
            }
        }

    }

    .parte-1 {
        margin-top: 25px;
        display: flex;
        align-items: center;

        h1 {
            color: #636363;
            font-family: lato-regular;
            font-size: 18px;
            margin-right: 10px;
        }

        div {

            cursor: pointer;
            display: flex;
            background-color: #0D3E53;
            padding: 8px;

            img {
                height: 20px;
                padding-right: 8px;
                margin-top: 5px;
            }

            p {
                color: #fff;
            }
        }


    }

    .parte-2 {
        display: flex;
        flex-direction: column;
        background-color: #0D3E53;
        padding: 15px 10px;
        width: 30%;
        margin-top: 25px;
        border-radius: 5px;




        div {
            display: flex;
            color: #fff;

            input {
                margin-right: 10px;
            }

            h4 {
                font-weight: 450;
            }
        }
    }

    .linha-filtro {
        background-color: #fff;
        height: 0.5px;


        margin: 10px 0px;
    }



    .adicionado {
        background-color: #00CC00;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        color: #FFFFFF;
        font-weight: bold;
        line-height: 20px;
    }

    .removido {
        background-color: #A59A9A;
        width: 20px;
        height: 2px;
        display: inline-block;
        vertical-align: middle;
    }

    .tracinhos {

        display: inline-block;
        margin: 0 5px;
    }

    .bbotao {

        align-self: center;
        background-color: #00796B;
        border: none;
        border-radius: 10px;
        color: #fff;
        margin-top: 10px;
        padding: 6px 15px;
    }

    .carrinho-buscar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }










}